<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TestProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
    <!-- <unitTestProvider name="NUnit" /> -->
    <!-- <unitTestProvider name="specrun" /> -->
    <!-- 
    <plugins>
      <add name="SpecRun" />     
    </plugins>
    -->
  </specFlow>
  <appSettings>
    <add key="dataDir" value=".\..\..\testData" />
    <add key ="baseUrl" value="http://test.hdai.com/api/patient/" />
  </appSettings>
  
  <applicationSettings>
    <TestProject.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </TestProject.Properties.Settings>
  </applicationSettings>
  
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
